# 淘宝 NPM 镜像
registry=https://registry.npmmirror.com

# Electron 镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{version}}

# Node.js 镜像
node_mirror=https://npmmirror.com/mirrors/node/

# sass 镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass/